<?xml version="1.0" encoding="UTF-8"?>

<plugin id="cordova-plugin-tf-lite" version="0.10.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">

   <name>cordova-plugin-tf-lite</name>
  <description>Cordova plugin that allows tf classification interaction from HTML code. </description>
  <license>Apache 2.0</license>
  <keywords>cordova,phonegap,ecosystem:cordova,cordova-android,cordova-ios,android,ios,ionic,tf-lite,tensorflow,image-classification</keywords>
  <repo>https://github.com/rahullahoria/cordova-plugin-tf-lite.git</repo>
  <issue>https://github.com/rahullahoria/cordova-plugin-tf-lite/issues</issue>

  <js-module src="www/TfLite.js" name="TfLite">
    <clobbers target="TfLite" />
  </js-module>

  <platform name="android">
    <source-file src="src/android/ImageClassifier.java" target-dir="src/com/livechek/tflite" />
    

    <framework src="com.android.support:exifinterface:25+" />

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="TfLite">
        <param name="android-package" value="com.livechek.TfLite" />
        <param name="onload" value="true" />
      </feature>
    </config-file>
  </platform>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="CameraPreview">
        <param name="ios-package" value="CameraPreview" onload="true" />
      </feature>
    </config-file>

    <header-file src="src/ios/CameraPreview.h" />
    <source-file src="src/ios/CameraPreview.m" />

     <header-file src="src/ios/TemperatureAndTint.h" />
    <source-file src="src/ios/TemperatureAndTint.m" />

    <header-file src="src/ios/CameraSessionManager.h" />
    <source-file src="src/ios/CameraSessionManager.m" />

    <header-file src="src/ios/CameraRenderController.h" />
    <source-file src="src/ios/CameraRenderController.m" />

    <framework src="ImageIO.framework" weak="true" />
    <framework src="MobileCoreServices.framework" />
    <framework src="CoreLocation.framework" />
    <framework src="CoreGraphics.framework" />
    <framework src="AssetsLibrary.framework" />
    <framework src="CoreGraphics.framework" />
    <framework src="CoreImage.framework" />
    <framework src="OpenGLES.framework" />
    <framework src="GLKit.framework" />
    <framework src="CoreVideo.framework" />
    <framework src="QuartzCore.framework"/>
  </platform>

</plugin>
